.container {
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.header {
  text-align: center;
  background-color: #0F0F0F;
  color: white;
  display: flex;

  img {
    padding: 15px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }
  div {
    color: white;
    padding: 15px;
    text-align: left;
  }
}

.body {
  height: 100vh;
  overflow-y: scroll;
  display: block;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #a0b791;
  padding: 20px 30px;
}

.body::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}

.body::-webkit-scrollbar {
  width: 10px;
}

.body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #8a8a8a;
  border: 1px solid #000;
}

.footer {
  display: flex;
  background-color: #3A3A3A;
  //background-color: #009854;

  input {
    color: white;
    flex: 2;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
    background-color: #3A3A3A;
    //padding-right: 20px;
  }

  button:disabled {
    border: none;
    outline: none;
    background-color: #3A3A3A;
    cursor: default;
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  button {
    border: none;
    outline: none;
    background-color: #3A3A3A;
    //color: #009854;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 5px;
  }
}
.imageButton {
  width: 30px;
  height: 30px;
}
